html,
body {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    color: red;
    margin: 2rem;
}

form {
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div+div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 180px;
    text-align: right;
    color: grey;
    font-weight: bold;
}

input {
    font: 1em sans-serif;
    width: 400px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    width: 600px;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #999;
    height: 5em;
    font: 1em sans-serif;
}

p {
    color: grey;
    font-weight: bold;
}

.button {
    text-align: center;
}

button {
    background-color:red;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
}

.messageError {
    text-align: center;
    color: red;
    margin-top: 0.2rem;
  }

