   
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

html, body {
  background-color:#17202A;
  font-family: Ubuntu;
}

input, select {
  width: 20rem;
  height: 2.2rem;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0;
  box-shadow: 1px 3px 3px 1px black;
}

textarea {
  width: 20rem;
  height: 8rem;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0;
  box-shadow: 1px 3px 3px 1px black;
}

label {
  margin-bottom: 0.2rem;
}

.optionRadio {
  display: flex;
  width: 1rem;
  height: 1rem;
  border: 0;
  box-shadow: 0px 0px 0px 0px black;
  margin-left: 1rem;
  margin-top: 1rem;
}

.alignRadio {
  margin-top: 0.7rem;
  margin-left: 0.8rem;
}

.displayMessage {
  height: 2rem;
  text-align: center;
  color: indianred;
  margin-top: 0.2rem;
}

.formValid {
  color: lightgreen;
}

.btnColor {
  color: white;
  background-color: rgb(33, 33, 146);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px black;
  border: 2px solid rgb(33, 33, 160);
}

.btnColor:hover {
  background-color:rgb(33, 33, 160);
}

h1 {
  color:rgb(60, 60, 196);
}